services:
    db:
        image: postgres:18
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: mysecretpassword
            POSTGRES_DB: local
        ports:
            - 6300:5432
        volumes:
            - postgres-data:/var/lib/postgresql

volumes:
    postgres-data:
